<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
  {% block site_branding %}
    {% include "components-site-name" %}
  {% endblock %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    {% spaceless %}
    {% block content %}
      <ul class="navbar-nav">
        {% for item in items %}
        <li class="nav-item"><a class="nav-link {{ item.modifier }}" href="{{ item.url }}">{{ item.text|raw }}</a></li>
        {% endfor %}
      </ul>
    {% endblock %}
    {% endspaceless %}
  </div>
</nav>
