<section class="section">
  <div class="container">
    <h2 class="section__title">{{ content.field_heading|field_value }}</h2>
    <div class="row">
      {{ content.field_content|field_value }}
    </div>
  </div>
</section>
