<code>$font-family-sans-serif</code>
<p class="font-primary">Primary font: "Helvetica Neue", Helvetica, Arial, sans-serif</p>
<p class="font-primary"><em>Primary font italic: "Helvetica Neue", Helvetica, Arial, sans-serif</em></p>
<p class="font-primary"><strong>Primary font bold: "Helvetica Neue", Helvetica, Arial, sans-serif</strong></p><br />
<br /><code>$font-family-serif</code>
<p class="font-secondary">Secondary font: Georgia, "Times New Roman", Times, serif</p>
<p class="font-secondary"><em>Secondary font italic: Georgia, "Times New Roman", Times, serif</em></p>
<p class="font-secondary"><strong>Secondary font bold; Georgia, "Times New Roman", Times, serif</strong></p>
